.navbar {
  background: gainsboro;
}

.nav-item {
  margin-right: 20px;
}

.navbar-nav {
  text-align: right;
  padding-left: 40%;
}

#hero {
  height: 800px;
  background: rgb(107, 107, 107);
}

.container-hero {
}

#quem-somos {
  padding-top: 100px;
  background: rgb(238, 238, 238);
}

.botao-sega {
  margin-top: 25px;
}

#jogos {
  padding-top: 100px;
  justify-content: center;

  text-align: center;
}

h2 {
  text-align: center;
}

.row-jogos {
  margin-top: 40px;
}

.titulos-jogos {
  justify-content: center;

  text-align: center;
}

.row-jogos p {
  text-align: center;
}

#trabalhe-conosco {
  color: floralwhite;
  background: #0531c5d3;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form-group {
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 50%;
}

.form-control {
  margin-bottom: 10px;
}


.btn-envio{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}